.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.second-title {
  margin-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #afb1b8;
  border-radius: 4px;*/
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid var(--acent-color);
    }
  }
  &__icon-one {
    width: 44px;
    height: 49px;
  }
  &__icon-two {
    width: 40px;
    height: 52px;
  }
  &__icon-three {
    width: 41px;
    height: 43px;
  }
  &__icon-four {
    width: 80px;
    height: 42px;
  }
  &__icon-five {
    width: 59px;
    height: 47px;
  }
  &__icon-six {
    width: 88px;
    height: 45px;
  }
}

.common {
  fill: #afb1b8;
  transition: var(--animate-icon);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--acent-color);
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    &__item {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-list__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}
