.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-align: center;
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  min-width: 270px;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .about-list__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.icons {
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  &_size {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
  }
}
