/*Filters */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /*background-color: aqua;*/
}
.filter-list__item:not(:last-child) {
  /*outline: 1px dashed blue;*/
  margin-right: 8px;
}
.filter-list__btn {
  display: inline-block;
  text-align: center;
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: var(--animate-filters);

  &:hover,
  &:focus {
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    color: #ffffff;
  }
}
