.main-section {
  padding: 200px 15px;
  text-align: center;

  &__title {
    /*padding-top: 200px;*/
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
    margin-bottom: 30px;
  }
}
.overlay {
  max-width: 480px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg-img-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero/bg-img-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 1199px;
    background-image: url("../images/hero/bg-img-tab@1x.jpg");
  }
  .main-section__title {
    max-width: 360px;
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    margin-bottom: 30px;
  }
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     .overlay {
  //       background-image: url("../images/hero/bg-img-tab@2x.jpg");
  //     }
  //   }
  // }
  @media screen and (min-width: 1200px) {
    .overlay {
      max-width: 1600px;
      background-image: url("../images/hero/bg-img-dt@1x.jpg");
    }
    .main-section__title {
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;
      text-transform: uppercase;
      max-width: 696px;
      margin: 0 auto 30px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: url("../images/hero/bg-img-dt@2x.jpg");
    }
  }
}
